/* Body component style */
.body {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 1.6;
    color: #606060;
    margin: 12px auto;

    /* class style for the DropCap property of the body component */
    &._drop-cap {
        &:not(.doc-empty) {
            &:not(.doc-component-highlight) {
                min-height: 80px;
                &::first-letter {
                    font-size: 300%;
                    text-transform: uppercase;
                    line-height: 0.8;
                    float: left;
                    margin: 4px 6px 0 -2px;
                }
            }
        }
    }

    /*
     * media query
     * $screen-sm-max constant is defined in the global style file (_common.scss)
     */
    @media (max-width: $screen-sm-max) {
        font-size: 17px;
        line-height: 1.65;
    }
}