/* Headline component style */
.headline {
    .section {
        font-size: 23px;
        font-weight: bold;
        color: #1a1a1a;
        margin: 40px auto 20px auto;
    }
    .title {
        font-size: 49px;
        font-weight: bold;
        color: #1a1a1a;
        margin: 40px auto 20px auto;
    }
    .subtitle {
        font-weight: 600;
        font-size: 23px;
        color: #1a1a1a;
        margin: 16px auto;
    }
}
