<div class="hero" data-hero-mobile>
    <figure>
        <div doc-image="image" data-placeholder-style="top-left">
            <div>
                <figcaption>
                    <h1 doc-editable="title" data-doc-empty-bg-image-color="black">{{ COMPONENT_TITLE_LABEL }}</h1>
                    <h2 doc-editable="subtitle" data-doc-empty-bg-image-color="black">
                        {{ COMPONENT_SUBTITLE_LABEL }}
                    </h2>
                    <h3 doc-editable="author" data-doc-empty-bg-image-color="black">{{ COMPONENT_AUTHOR_LABEL }}</h3>
                </figcaption>
            </div>
        </div>
    </figure>
</div>
