<div class="slideshow" data-slideshow-component>
    <div class="slideshow-container" doc-slideshow="slideshow">
        <div u="slides" class="slides"></div>
        <span u="arrowleft" class="arrow _left"></span>
        <span u="arrowright" class="arrow _right"></span>
        <div u="thumbnavigator" class="thumbnavigator">
            <div u="slides" class="thumbslides">
                <div u="prototype" class="thumbproto">
                    <div class="thumb-w">
                        <div u="thumbnailtemplate" class="thumb-t"></div>
                    </div>
                    <div class="thumb-c"></div>
                </div>
            </div>
        </div>
    </div>
</div>
