<div class="author" data-dropzone-target="image">
    <figure class="author-image">
        <div doc-image="image" data-placeholder-style="small"></div>
    </figure>

    <div class="info-block">
        <div class="author-row">
            <span class="name" doc-editable="name">{{ COMPONENT_AUTHOR_LABEL }}</span>
            <div class="sep_name_loc"></div>
            <span class="location" doc-editable="location">{{ TEMPLATE_AUTHOR_LOCATION_PLACEHOLDER }}</span>
        </div>
        <div class="author-row">
            <span class="link" doc-link="link-url" doc-editable="link">{{ TEMPLATE_AUTHOR_LINK_PLACEHOLDER }}</span>
        </div>
    </div>
</div>
