<div class="author" default-text-field="name">
    <figure class="author-image" >
        <div doc-image="image" data-placeholder-style="hidden"></div>
    </figure>

    <div class="info-block">
        <div class="author-row">
            <span class="name" doc-editable="name">{{ DESIGN_COMPONENT_AUTHOR_LABEL }}</span>
            <div class="sep_name_loc"></div>
            <span class="location" doc-editable="location">{{ DESIGN_AUTHOR_LOCATION_PLACEHOLDER }}</span>
        </div>
        <div class="author-row">
	        <span class="link" doc-link="link-url" doc-editable="link">{{ DESIGN_AUTHOR_LINK_PLACEHOLDER }}</span>
        </div>
    </div>
</div>