<div class="hero">
    <figure>
        <div doc-image="image" data-placeholder-style="top-left">
            <div>
                <figcaption>
                    <h1 doc-editable="title">
                        {{ STORIES_TITLE_LABEL }}
                    </h1>
                    <h2 doc-editable="subtitle">
                        {{ SUB_TITLE_EDITOR_LABEL }}
                    </h2>
                    <h3 doc-editable="author">
                        {{ DESIGN_COMPONENT_AUTHOR_LABEL }}
                    </h3>
                </figcaption>
            </div>
        </div>
    </figure>
</div>